name: hrm.hrm_act_v1@HierarchicalReasoningModel_ACTV1
loss:
  name: losses@ACTLossHead
  loss_type: stablemax_cross_entropy
  move_loss_weight: 1.0  # Weight for move prediction loss (NEW)

halt_exploration_prob: 0.1
halt_max_steps: 16

H_cycles: 2
L_cycles: 2

H_layers: 4
L_layers: 4

hidden_size: 512
num_heads: 8  # min(2, hidden_size // 64)
expansion: 4

puzzle_emb_ndim: ${.hidden_size}

pos_encodings: rope

# Move prediction configuration (NEW)
use_move_prediction: false  # Enable move prediction mode
num_actions: 0              # Number of possible moves/actions (set based on game)
move_prediction_from_token: 0  # Which token position to use for move prediction
